<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id ="DuneAppFragment" >
    <ComponentGroup Id="DuneAppComponentGroup" Directory="INSTALLFOLDER">
      <Component Id="DuneDetectLibWrapperDLLComponent" Guid="90693cb9-aa0d-42bf-a90a-0cabb924b19b">
        <File Id="DuneDetectLibWrapper.dll"
              Name="DuneDetectLibWrapper.dll"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectLibWrapper.dll"/>
      </Component>
      <Component Id="DuneDetectLibWrapperPDBComponent" Guid="b885aa01-bf65-4975-bae2-3a0f588aef80">
        <File Id="DuneDetectLibWrapper.pdb"
              Name="DuneDetectLibWrapper.pdb"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectLibWrapper.pdb"/>
      </Component>
      <Component Id="DuneDetectorAppExeComponent" Guid="2cb1ef1e-9711-4384-933a-4405c768d05e">
        <File Id="DuneDetectorApp.exe"
              Name="DuneDetectorApp.exe"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.exe"/>
      </Component>
      <Component Id="DuneDetectorAppConfigComponent" Guid="f2764e51-3f87-4bd2-9bd7-b4f6d02a57bb">
        <File Id="DuneDetectorApp.exe.config"
              Name="DuneDetectorApp.exe.config"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.exe.config"/>
      </Component>
      <Component Id="DuneDetectorAppPdbComponent" Guid="cb95981a-9068-4690-b206-2d1bc0f5a642">
        <File Id="DuneDetectorApp.pdb"
              Name="DuneDetectorApp.pdb"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.pdb"/>
      </Component>
      <Component Id="DuneDetectorAppVshostComponent" Guid="4574fa51-5651-4e37-a986-5010f0a8daa0">
        <File Id="DuneDetectorApp.vshost.exe"
              Name="DuneDetectorApp.vshost.exe"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.vshost.exe"/>
      </Component>
      <Component Id="DuneDetectorAppVshostConfigComponent" Guid="9e088821-4090-41d4-99b8-746c99873807">
        <File Id="DuneDetectorApp.vshost.exe.config"
              Name="DuneDetectorApp.vshost.exe.config"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.vshost.exe.config"/>
      </Component>
      <Component Id="DuneDetectorAppVshostManifestComponent" Guid="0c174805-2e2b-42d9-ab66-92134c5a4e0a">
        <File Id="DuneDetectorApp.vshost.exe.manifest"
              Name="DuneDetectorApp.vshost.exe.manifest"
              DiskId="1"
              Source="../DuneDetectorApp/bin/Release/DuneDetectorApp.vshost.exe.manifest"/>
      </Component>
    </ComponentGroup>
		<!-- TODO: Put your code here. -->
	</Fragment>
</Wix>